
//Imports

@import "utilities/variables";
@import "utilities/tipografias";


/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Para el fondo negro*/
body {
    background-color: $backgroundGeneral;
}

/*Estilos para el menú*/
header{
    padding: 3.75rem 6.25rem;
    nav {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            li{
                display: inline-block;
                a {
                    text-decoration: none;
                    color: $primaryColor;
                    text-transform: uppercase;
                    font-size: $size-0;
                    font-family: Aeonik-Bold;
                    margin: 1.25rem;
                    letter-spacing: 0.1em; 
                }

                &:hover{
                    animation-name: animLink;
                    animation-iteration-count:3;
                    animation-duration: 1s;
                }
            }
        }
    }
}

/* Estilos textos*/
/*Tipos de títulos*/

h1 {
    font-family: TAN-Waverly, Arial, Helvetica, sans-serif;
    color: $primaryColor;
    text-transform: uppercase;
    font-size: $size-4;
    text-align: center;
}

h2 {
    font-family: Aeonik-Light, 'Times New Roman', Times, serif;
    font-size: $size-2;
    color: $primaryColor;
    text-align: center;
}

h3{
    color: $primaryColor;
    font-size: $size-3;
    font-family: TAN-Waverly, Arial, Helvetica, sans-serif;
}

/*Párrafo*/
p {
    color: $primaryColor;
    font-family: Aeonik-Light, 'Times New Roman', Times, serif;
    font-size: $size-1;
    line-height: 1.9rem;

}

/*Vínculos*/
a{
    color: $secondaryColor;
    font-family: Aeonik-Light;
    font-size: $size-1;
    text-decoration: none;
    line-height: 1.9rem;
}

span {
    vertical-align: middle;
    border-bottom: 0.0625rem solid $borderColorSecondary;
}

/*Detalles tipográficos*/
.tipografiaBold {
    font-family: Aeonik-Bold, 'Times New Roman', Times, serif;
}

/*Grid index*/

/*Versión index reto grid*/
.contenedorGrid {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "contenedorPrincipal contenedorPrincipal contenedorPrincipal contenedorPrincipal"
                         "contenedorLinks contenedorLinks contenedorLinks contenedorLinks"
                         "contenedorSobreMi contenedorSobreMi imagenRetrato imagenRetrato"
                         "contenedorTrabajos contenedorTrabajos contenedorTrabajos contenedorTrabajos";
    gap: 1rem;
    
    /*Main*/

    .contenedorPrincipal {
        display: flex;
        flex-flow: row wrap;
        background-image: url(../img/bgShape.png);
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        align-items: center;
        grid-area: contenedorPrincipal;
        /*horizontal*/
        justify-self: center;
        /*vertical*/
        align-self: center;
        height: 34rem;

        .contenedorEstrella{
            text-align: center;
            display: inline-block;
        }

        .contenedorHijo{
            text-align: center;
            width: 60%;
        }
        
    }

    .contenedorLinks{
        margin-top: 1.9rem;
        margin-bottom: 1.9rem;
        grid-area: contenedorLinks;
        /*horizontal*/
        justify-self: center;
        /*vertical*/
        align-self: center;
    
         ol {
            display: flex;
            margin: 1.25rem;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            li{
                list-style: none;
                margin: 0.6rem;
                align-self: center;
                a {
                    img {
                        vertical-align: middle;
                    }
                }
            }
        }
    }  
    .contenedorSobreMi{
        margin: 1.9rem;
        grid-area: contenedorSobreMi;
        /*horizontal*/
        justify-self: center;
        /*vertical*/
        align-self: center;
        padding: 0 0 0 6.25rem;
    } 
    .imagenRetrato {
        width: 100%;
        margin-left: 1.9rem;
        grid-area: imagenRetrato;
         /*horizontal*/
         justify-self: center;
         /*vertical*/
         align-self: center;
         padding: 0 6.25rem 0 0;
    }
    .contenedorTrabajos{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        grid-area: contenedorTrabajos; 

        .contenedorGridTrabajos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "trabajoUno trabajoDos"
                                 "trabajoTres trabajoCuatro";
            justify-content: center;
            justify-items: center;
            
            /*Contenedores trabajos*/

            .trabajoUno {
                grid-area: trabajoUno;
                /*horizontal*/
                justify-self: center;
                /*vertical*/
                align-self: center;
                width: 100%;
            }
            .trabajoDos {
                grid-area: trabajoDos;
                /*horizontal*/
                justify-self: center;
                /*vertical*/
                align-self: center;
                width: 100%;
            }
            .trabajoTres {
                grid-area: trabajoTres;
                /*horizontal*/
                justify-self: center;
                /*vertical*/
                align-self: center;
                width: 100%;
            }
            .trabajoCuatro {
                grid-area: trabajoCuatro;
                /*horizontal*/
                justify-self: center;
                /*vertical*/
                align-self: center;
                width: 100%;
            }
        }
    }
}

/*Estilo del footer*/

footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 3.75rem;
    background-image: url(../img/bgFooter.png);
    background-position: top;
    background-repeat: no-repeat;

    .elementoFooter{
        margin: 1.25rem;
    }

}

/* Tamaños logo, iconos/ imágenes*/

.logoImg {
    transition: $transition-1;
    width: 57px;
    height: 57px;
}

.tamImagen {
    width: 100%;
}

.tamImagenTrabajos{
    width: 100%;
}

.iconoRedes{
    margin: 0.62rem;
    transition: $transition-3;
    width: 1.81rem;
    &:hover{
        opacity: .5;
        width: 28px;
    }
}



/*Detalles visuales*/
.lineaAbajo{
    border-bottom: $borderGeneral;
    display: inline-block;
    padding-bottom: 1.9rem;
    margin-bottom: 1.9rem;
    margin-top: 1.9rem;

}

.espacioTextoMi {
    margin: .625rem 0 2rem 0;
}

.linkBlanco{
    color: $primaryColor;
    border-bottom: 0rem solid $borderColor;
}

.estiloTituloTrabajos{
    text-align: left;
    margin-top: 1.9rem;
    margin-bottom: 1.25rem;
}

.trabajoContenedor {
    padding: 1.25rem;
    width: 100%;
    transition: $transition-3;
    &:hover{
    transform: scale(0.95);
    }
}




/*Botones detalles*/

.btnMas{
    text-align: center;
    border: $borderGeneral;
    width: 15rem;
    padding: 2.5rem 0rem;
    border-radius: 6.25rem;
    text-transform: uppercase;
    margin: 2.5rem;
    transition: $transition-3;

    &:hover {
        background-color: $btnBgColorHover;
        color: black;
        transform: translateY(-5px);
    }
}


/*Secciones*/

.contenedorTrabajo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3.1rem 0rem;
    border-top: $borderGeneral;
    border-bottom: $borderGeneral;
    transition: $transition-3;
    
}

.espacioTitulo{
    margin: 4.4rem 0rem;
}

.espacioTitulo2{
    margin: 0 0 1.9rem 0;
}

.espacioTextoTrabajo{
    margin-bottom: 1.25rem;
}

.noMarginTop{
    border-top: none;
}

.fondoDiseño{
    background-image: url(../img/bg-design.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.fondoDesarrollo{
    background-image: url(../img/bg-desarrollo.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.fondoUnity{
    background-image: url(../img/bg-unity.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.fondoContacto{
    background-image: url(../img/bg-contact.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.containerDiseño{
    display: flex;
    flex-flow: column wrap;
    align-items: center ;
    padding: 0rem 4.625rem;
}

.contenedorTextos{
    padding: 3.125rem;
    width: 25rem;
}

.alinearTextoIzq {
    text-align: left;
}

.contenedorSeccion{
    width: 40%;
    margin: 7.5rem 10.625rem;
}

.contenedorEstrella2{
    margin: 2.2rem 0;
}

/*Formulario*/

legend{
    text-align: left;
    font-size: $size-2;
    color: $primaryColor;
    font-family: Aeonik-Light, 'Times New Roman', Times, serif;
    line-height: 2.4rem;
}

fieldset {
    border: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

label{
    text-align: left;
    font-size: $size-2;
    color: $primaryColor;
    font-family: Aeonik-Light, 'Times New Roman', Times, serif;
    line-height: 2.4remx;
}

input {
    text-align: left;
    font-size: $size-2;
    color: $primaryColor;
    font-family: Aeonik-Light, 'Times New Roman', Times, serif;
    line-height: 2.4rem;
    background-color: rgba(0, 0, 0, 0) ;
    border-color: rgba(0, 0, 0, 0);
    padding-bottom: 1.9rem;
    border-bottom: $borderGeneral;
    width: 100%;
    &:focus-visible {
        outline: $borderColor auto 1px;
    }
  
}

select {

    text-align: left;
    font-size: $size-2;
    color: rgba(255, 255, 255, .4);
    font-family: Aeonik-Light, 'Times New Roman', Times, serif;
    line-height: 2.4rem;
    background-color: rgba(0, 0, 0, 0) ;
    border-color: rgba(0, 0, 0, 0);
    padding-bottom: 1.9rem;
    border-bottom: $borderGeneral;
    width: 100%;
    &:focus-visible {
        outline: $borderColor auto 1px;
    }  
}

.espacioTextoContacto{
    margin: 2.5rem 0;
}

form {
    width: 100%;
}

.anchoFormulario {
    width: 100%;
}

.inputCheck {
    width: 1.25rem;
    height: 1.25rem;
}

.btnEnviar{
    text-align: center;
    border: $borderGeneral;
    width: 15rem;
    padding:2.5rem 0;
    border-radius: 6.25rem;
    text-transform: uppercase;
    margin: 0 0 2.5rem 0;
    width: 12.5rem;
    margin-bottom: 0;
    transition: $transition-3;
}

.btnBorrar {
    color: $secondaryColor;
    font-family: Aeonik-Light;
    font-size: $size-1;
    text-decoration: none;
    line-height: 1.9rem;
    border-bottom: solid 0.06rem $borderColorSecondary;
    width: 4.4rem;
    padding-bottom: 0.62rem;
}

.contenedorBotones {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.tamImagenTrabajo{
    width: 18.75rem;
}

/*Versión de grid sección Unity para el reto semanal*/

.gridSeccionUnity{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "contenedorSeccionUnity contenedorSeccionUnity contenedorSeccionUnity contenedorSeccionUnity imagenAlien"
                         "contenedorUnity contenedorUnity contenedorUnity contenedorUnity contenedorUnity";
    gap: 1rem;      
}

.imagenAlien {
    grid-area: imagenAlien;
    padding: 7.5rem 10.625rem;
}

.contenedorUnity{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-area: contenedorUnity;
    width: 100%;
    padding: 0rem 4.625rem;
}

.contenedorSeccionUnity{
    grid-area: contenedorSeccionUnity;
    padding: 7.5rem 10.625rem;
}

/*Animaciones*/

.flotar {
    animation-name: flotar;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}

@keyframes flotar {
    0% {
        transform: translateY(0);
        transform: scale(1);
    }
    50% {
        transform: translateY(-5px);
        transform: scale(0.7);
    }
    100% {
        transform: translateY(0);
        transform: scale(1);
    }
}

.flotar2 {
    animation-name: flotar2;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}

@keyframes flotar2 {
    0% {
        transform: translateY(0);
        
    }
    50% {
        transform: translateY(-5px);
        
    }
    100% {
        transform: translateY(0);
    }
}

.itemsMenu{
    transition: $transition-1;
    &:hover {
        padding-bottom: 0.3125rem;
        border-bottom: 0.125rem solid $borderColorSecondary;
        color: $secondaryColor !important; 
    }
}



@keyframes animLink{
    0% {
        transform: translateY(0);
        transform: scale(1);
        
    }
    50% {
        transform: translateY(-2px);
        transform: scale(1.05);
    }
    100% {
        transform: translateY(0);
        transform: scale(1);
    }
}

.animLinksAmarillo {
    transition: $transition-2;
    &:hover {
        transform: translateY(-3px);
    }
}

.noBorderBottom {
    border-bottom: none;
}

.contactoAnim {
    transition: $transition-3;
    &:hover {
        transform: scale(0.95);
        color: $secondaryColor;
    }
}

.contenedorTrabajo:hover{
    transform: scale(0.95);
}

.btnEnviar:hover {
    background-color: $btnBgColorHover;
    color: black;
    transform: translateY(-5px);
}

a:hover {
    color: $secondaryColor;
}

.logoImg:hover{
    animation-name: animLink;
    animation-iteration-count:3;
    animation-duration: 1s;
}

/*Carrusel detalles Bootstrap*/

.carousel-control-prev{
    background-color: black;
    top: 40%;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    opacity: .3;
}

.carousel-control-prev:active{
    opacity: .5;
}

.carousel-control-next {
    background-color: black;
    top: 40%;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    opacity: .3;
}

.carousel-control-next:active{
    opacity: .5;
}

.noBorderTop {
    border-top: none;
}


/*Versiones de pantalla*/

@media screen and (max-width: 1301px){

    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 1024px){

    a{
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3{
        font-size: 1.7rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .btnMas{
        width: 12rem;
        padding: 2rem 0rem;
        margin: 2rem;
    }

    .contenedorGrid .imagenRetrato {
        padding: 0 3rem 0 0;
        margin-left: 1rem;
    }

    header {
        padding: 3.75rem 3rem;
    }

    .contenedorGrid .contenedorSobreMi{
        padding: 0 0 0 3rem;
        margin: 1rem;
    }

    .imagenAlien {
        padding: 5.5rem 4.625rem;
    }
    
    .contenedorSeccionUnity{
        padding: 5.5rem 4.625rem;
    }

    .tamAlien {
        width: 3.7rem;
    }

    .contenedorSeccion{
        margin: 5.5rem 4.625rem;
    }

    .contenedorTextos {
        padding: 3.125rem;
    }

    .containerDiseño{
        display: flex;
        flex-flow: column wrap;
        align-items: center ;
        padding: 0rem 2.8rem;
    }

    .contenedorGrid .contenedorLinks ol, header nav ul{
        padding-left: 0;
    }

}
@media screen and (max-width: 768px){
    
    a{
        font-size: 1rem;
        line-height: 1.3rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3{
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    header {
        padding: 3rem 2.8rem;
    }

    .contenedorGrid .imagenRetrato {
        padding: 0 2.8rem 0 2.8rem;
        margin-left: 0rem;
    }

    .contenedorGrid .contenedorSobreMi{
        padding: 0 2.8rem 0 2.8rem;
        margin: 0rem;
    }

    .btnMas{
        width: 10rem;
        padding: 1.5rem 0rem;
        margin: 1.5rem;
    }

    .contenedorGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "contenedorPrincipal contenedorPrincipal contenedorPrincipal contenedorPrincipal"
                             "contenedorLinks contenedorLinks contenedorLinks contenedorLinks"
                             "imagenRetrato imagenRetrato imagenRetrato imagenRetrato"
                             "contenedorSobreMi contenedorSobreMi contenedorSobreMi contenedorSobreMi"
                             "contenedorTrabajos contenedorTrabajos contenedorTrabajos contenedorTrabajos";
    }

    .contenedorGrid .contenedorPrincipal{
        background-size: contain;
        flex-flow: column wrap;
        gap: 1.25rem;
        height: 20rem;
    }

    .contenedorGrid .contenedorPrincipal .contenedorHijo {
        text-align: center;
        width: 80%;
    }

    .contenedorGrid .contenedorPrincipal .contenedorEstrella {
        display: none;
    }

    .contenidoSobreMi {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
    }
    
    .contenedorLink{
       margin-right: auto;
    }
    .contenedorGrid .contenedorTrabajos .contenedorGridTrabajos{
        grid-template-columns: 1fr;
        grid-template-areas: "trabajoUno"
                             "trabajoDos"
                             "trabajoTres"
                             "trabajoCuatro"; 
                             
        padding: 0 2.8rem 0 2.8rem;
    }

    footer {
        padding: 2.8rem;
    }

    .logoImg {
        width: 35px;
        height: 35px;
    }

    .imagenAlien {
        padding: 1rem 1rem;
    }

    .tamAlien {
        width: 2.2rem;
    }
    
    .contenedorSeccionUnity{
        padding: 2.8rem 2.8rem;
    }

    .gridSeccionUnity{
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: "imagenAlien"
                             "contenedorSeccionUnity"
                             "contenedorUnity";
        gap: 1rem;      
    }

    .espacioTitulo {
        margin: 2.4rem 0rem;
    }

    .contenedorTrabajo{
        flex-flow: column wrap;
        padding: 2.2rem 2.2rem;
        width: 100%;
        
    }
    .tamImagenTrabajo{
        width: 100%;
        
    }
    .contenedorTextos{
        margin-right: auto;
        padding: 1.2rem 0 1.2rem 0;
        width: 100%;
    }

    .tamOjo{
        width: 1.2rem;
    }

    nav ul li a {
        margin: 0;
    }

    .contenedorUnity{
        padding: 0rem 2.8rem;
    }

    .contenedorSeccion{
        margin: 2.8rem 2.8rem;
        width: 80%;
    }

    input{
        font-size: 1.5rem;
    }

    legend {
        font-size: 1.5rem;
    }

    select {
        font-size: 1.5rem;
    }
    label {
        font-size: 1.5rem;
    }

    .carousel-control-next{
        width: 50px;
        height: 50px;
    }

    .carousel-control-prev{
        width: 50px;
        height: 50px;
    }

}
@media screen and (max-width: 480px){
   
    header {
        padding: 2.2rem 2rem;
    }

    .contenedorHijo {
        text-align: center;
        width: 95%;
    }

    .contenedorPrincipal {
        height: 16rem;
    }

    .contenedorLinks{
        margin-top: 0;
        margin-bottom: 0;
    }

    footer {
        padding: 2rem;
    }

    .btnEnviar{
        width: 8.5rem;
        padding: 1.5rem 0;
    }

    .tamOjo{
        width: .8rem;
    }
    
}