
/*Tipografías del proyecto*/

@font-face {
    font-family: "Aeonik-Bold";
    src: url(../fonts/Aeonik-Bold.otf) format("opentype");
}

@font-face {
    font-family: "Aeonik-Light";
    src: url(../fonts/Aeonik-Light.otf) format("opentype");
}

@font-face {
    font-family: "TAN-Waverly";
    src: url(../fonts/TAN-WAVERLY.otf) format("opentype");
}