$backgroundGeneral: black;

//Para tipografías//
$primaryColor: white;
$secondaryColor: #E5CC87;

//Tamaños Desktop//
$size-0: 1.3rem;
$size-1: 1.5rem;
$size-2: 1.9rem;
$size-3: 2rem;
$size-4: 2.5rem;

//Tamaños Mobile//
$sizem-0: 0.7rem;
$sizem-1: 0.75rem;
$sizem-2: 0.8rem;
$sizem-3: 0.85rem;
$sizem-4: 1.1rem;
$sizem-5: 1.5rem;
$sizem-6: 1rem;
$sizem-7: 1.25rem;
$sizem-8: 1.7rem;
$sizem-9: 1.6rem;
$sizem-10: 2.2rem;

//Para bordes y subrayados//
$borderColor: white;
$borderColorSecondary: #E5CC87;
$borderGeneral: 0.125rem solid $borderColor;

//Boton color hover//
$btnBgColorHover: white;

//Animaciones//
$transition-1: .3s;
$transition-2: .4s;
$transition-3: .5s;